* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;
}

i{
    font-size: 30px;
}

a:hover {
    cursor: pointer;
    opacity: 1;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    box-shadow: 0px 3px 10px #090909;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow:  0px 3px 10px rgba(0, 0, 0, 0.438);
    background-color: rgb(236, 236, 236);
}

.right {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.left img{
    width: 400px;
    height: auto;
    transition: all 800ms linear;

}

.left img:hover{
    transform: scale(2.05);
    
}

/* Seção 1 / s1 */

#s1 {
    height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Seção 2 / s2 */

#s2 {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url(images/wp4254951.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: 2px solid black;
    background-color: black;
    color: white;
}

.wrapTexts {
    padding: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

/* Seção 3 / s3 */

#s3 {
    height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video {
    width: 560px;
    height: 315px;
    box-shadow: 0px 3px 10px #090909;
    border-radius: 20px;
}



footer {
    height: 50px;
    box-shadow: 0px 3px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h1 {
    font-family: "Luxurious Roman", serif;
    font-size: 50px;
    font-style: normal;
}

/* Seção 4 / s4 */

#s4 {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-image: url(images/pexels-adrien-olichon-1257089-2387793\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#conteudo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    justify-content: center;
}

#titulo {
    background-color: rgba(255, 255, 255, 0.897);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    margin-top: -150px;
}

#titulo h2 {
    font-family: "Luxurious Roman", serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.conteudoElm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 460px;
    max-width: 600px;
    width: auto;
}

.conteudoElm p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.conteudoElm img{
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
    min-width: 460px;
    max-width: 600px;
    width: 600px;
    border: 3px solid rgba(209, 201, 201, 0.322);
}

.conteudoElm:hover img{
    transform: scale(1.05);
    transition: all 200ms ease-in-out;
    box-shadow: 0px 0px 50px rgba(211, 211, 211, 0.63);
    transition: all 400ms ease-in-out;
}


#elementText {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 80px;
    min-width: 460px;
    max-width: 600px;
    padding: 20px;
    border-image: url(images/pexels-adrien-olichon-1257089-2387793\ \(1\).jpg);
}


/* Seção 5 / s5 */

#s5 {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

i{
    transition: all 200ms ease-in-out;
}

i:hover {
    transform: translateY(-5px) scale(1.1);
}

.formulario {
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.formulario label {
    width: 100%;
    padding: 10px;
    margin-bottom: -25px;
}

.formulario input {
    width: 100%;
    padding: 10px;
}

.formulario textarea {
    max-width: 100%;
    width: 255px;
    min-width: 255px;
    padding: 10px;
}

.formulario button {
    width: 100%;
     padding: 10px;
}

@media (width <= 1000px){
    #s1 {
        padding-top: 100px;
    }
    #s2 {
        margin-top: 50px;
    }
    
}